@import 'https://fonts.googleapis.com/css?family=Open+Sans';

*{
	margin: 0;
	padding: 0;
	font-family: "Open Sans";
}

body h1{
	display: block;
	text-decoration: none;
	color: black;
	text-align: center;
	font-size: 14pt;
	font-weight: bold;
	padding: 7px;
	background: #47447E;
	width: 49%;
	margin-left: 25%;
	margin-top: 2%;
	border: 2px solid #000;

}

body{
	background: #D9335C;
	float:centre;	
}

form{
	width: 40%;
	border: 2px solid #302E2F;
	margin-left: 29%;
	margin-top: 5%;
	padding: 20px;
	background-color:#47447E;
}

select{
	font-size: 12px;
	display: block;
	width: 50%;
	margin-bottom: 20px;
}

form select {
	margin-bottom: 20px;
	width: 100%;
	padding: 8px;
	border: 1px solid black;
	background-color: #A09FAB;
	font-family: 'Open Sans';
	font-weight: bold;
}

button[type="button"] {
	background: black;
	color: black;
	padding: 50px 15px;
	margin-right: 20px;
	border: none;

}

input[type="number"]{
	background:#A09FAB ;
	color:;
	text-align: center;
	margin-right: 60px;
	padding: 7px;
	border:none;
	font-family: 'Open Sans';
	font-weight: bold;
}

input[type="submit"] {
	background: black;
	color: #F2102E;
	margin-top: 30px;
	float: center;
	border:none;
	padding: 15px 25px;
}

.volver{
	display: block;
	text-decoration: none;
	color: #211C85;
	text-align: center;
	font-size: 14pt;
	font-weight: bold;
	padding: 7px;
	background: black;
	width: 40%;
	margin-left: 30%;
	margin-top: 1%;
}