*{
	margin: 0;
	padding: 0;
	font-family: "Open Sans";
}

body h1{
	display: block;
	text-decoration: none;
	color: black;
	text-align: center;
	font-size: 16pt;
	font-weight: bold;
	padding: 7px;
	background: #47447E;
	width: 49%;
	margin-left: 25%;
	margin-top: 2%;
	border: 2px solid #000;

}
body{
	background: #D9335C;
	float:centre;	
}

.lCerrar{
	display: block;
	color:;
	text-align: center;
	margin-left:25%;
	width: 49%;
	padding: 1%;
	margin-top: 8%;
	border:none;
	font-family: 'Open Sans';
	font-weight: bold;
	font-size: 13pt;
}

.bVolver{
	display: block;
	text-decoration: none;
	color: #734BE1;
	text-align: center;
	font-size: 12pt;
	font-weight: bold;
	padding: 0.5%;
	background: black;
	width: 30%;
	margin-left: 35%;
	margin-top: 5%;
	border-radius: 50px;
}
.bVolver:hover{
	background: #2B2B2E;
}