@import 'https://fonts.googleapis.com/css?family=Open+Sans';

*{
	margin: 0;
	padding: 0;
	font-family: "Open Sans";
}

body{
	
	background: #D9335C;
	float:centre;
	
	
}
body h1{
	display: block;
	text-decoration: none;
	color: black;
	text-align: center;
	font-size: 16pt;
	font-weight: bold;
	padding: 7px;
	background: #47447E;
	width: 49%;
	margin-left: 25%;
	margin-top: 2%;
	border: 2px solid #000;

}
.oElegir{
	display: block;
	text-decoration: none;
	color: #211C85;
	text-align: center;
	font-size: 14pt;
	font-weight: bold;
	padding: 7px;
	background: #A09FAB;
	width: 50%;
	margin-left: 25%;
	margin-top: 7%;
	border: 2px solid #000;

}

.bCerrar{
	display: block;
	text-decoration: none;
	color: #734BE1;
	text-align: center;
	font-size: 14pt;
	font-weight: bold;
	padding: 7px;
	background: black;
	width: 50%;
	margin-left: 25%;
	margin-top: 1%;
	border:none;
	border-radius: 50px;
}
.bCerrrar:hover{
	background: #2B2B2E;
}

form .bVolver{
	display: block;
	text-decoration: none;
	color: #734BE1;
	text-align: center;
	font-size: 12pt;
	font-weight: bold;
	padding: 0.5%;
	background: black;
	width: 30%;
	margin-left: 35%;
	margin-top: 5%;
	border-radius: 50px;
}
 form .bVolver:hover{
	background: #2B2B2E;
}